<section id="cv" class="my-5 py-5">
  <div class="px-xl-5 container">
    <div class="row px-xl-5">
      <div class="col-12">
        {{ with .title }}
        <h2 class="fw-semibold">{{ . }}</h2>
        {{ end }} {{ with .subtitle }}
        <div class="fs-5 fw-semibold">{{ . | markdownify }}</div>
        {{ end }} {{ with .content }}
        <div class="text-dark lh-lg">{{ . | markdownify }}</div>
        {{ end }} {{ with .googleDocs }}
        <iframe src="{{ . }}" class="w-100 min-vh-75 my-5"></iframe>
        {{ end }}
      </div>
    </div>
  </div>
</section>
