{{ define "main" }}
<section class="bg-dark position-relative d-flex flex-column justify-content-center bg-opacity-25 pt-5 pb-3">
  <div class="position-absolute z-n1 bg-dark bottom-0 end-0 start-0 top-0">
    {{ with .Params.image }} {{ $backgroundImage := resources.Get . }}
    <img src="{{ $backgroundImage.Permalink }}" alt="" class="w-100 h-100 object-fit-cover object-position-center" />
    {{ end }}
  </div>
  <div class="px-xl-5 container pt-5">
    <div class="row px-xl-5">
      <div class="col-12 col-xl-6">
        <h1 class="fw-semibold text-xl-start text-center text-white">{{ .Title }}</h1>
      </div>
      {{ with .Params.subtitle }}
      <div class="fs-5 fw-semibold text-white">{{ . | markdownify }}</div>
      {{ end }}
    </div>
  </div>
</section>
<section id="art" class="my-5 py-5">
  <div class="px-xl-5 container">
    <div class="row px-xl-5">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center">
          <a href="/art" class="btn btn-info mx-1"> Latest </a>
          <a href="/tags" class="btn btn-info mx-1"> Tags </a>
        </div>
      </div>
    </div>
  </div>
  <div class="px-xl-5 container">
    <div class="row px-xl-5">
      <div class="col-12">
        {{ with .Content }}
        <div class="text-dark lh-lg">{{ . }}</div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="px-xl-5 container my-5">
    <div id="gallery--individual--art--list" class="row px-xl-5 pswp-gallery">
      {{ $allImages := where .Site.RegularPages "Type" "in" (slice "art") }}
      {{ $sortedImages := sort $allImages "Date" "desc" }}
    
      {{ range $index, $page := $sortedImages }}
        {{ $image := resources.Get $page.Params.image }}
        <div class="col-12 col-xl-4 d-flex flex-column align-items-center justify-content-center text-decoration-none">
          {{ with $image }}
            <a
              class="gallery--item"
              href="{{ .Permalink }}"
              data-pswp-width="{{ .Width }}"
              data-pswp-height="{{ .Height }}"
              target="_blank"
            >
              <img src="{{ .Permalink }}" alt="{{ $page.Title }} <br /> {{ with $page.Params.medium }}{{ . }}{{ end }} <br /> {{ dateFormat "2006" $page.Params.date }}" class="mw-100 h-auto" />
            </a>
          {{ end }}
          <div class="mb-3">
            {{ if $page.Title }}
              <h3 class="fs-6 mb-1 text-center"><a href="{{ $page.RelPermalink }}" class="text-dark">{{ $page.Title }}</a></h3>
            {{ end }} 
            <div class="d-flex align-items-center justify-content-center small my-2">
              {{ with $page.GetTerms "tags" }} 
                {{ range . }}
                  <a href="{{ .Permalink }}" class="badge rounded-pill text-bg-info mx-1"> {{ .Title }} </a>
                {{ end }} 
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
     
        
  </div>
  <div class="px-xl-5 container my-5">
    <div class="row px-xl-5">
      <div class="col-12 justify-content-center flex">{{ template "_internal/pagination.html" . }}</div>
    </div>
  </div>
</section>
{{ end }}
