{{ define "main" }}
<section class="bg-dark position-relative d-flex flex-column justify-content-center bg-opacity-25 pt-5 pb-3">
  <div class="position-absolute z-n1 bg-dark bottom-0 end-0 start-0 top-0">
    {{ with .Params.backgroundImage }} {{ $backgroundImage := resources.Get . }}
    <img src="{{ $backgroundImage.Permalink }}" alt="" class="w-100 h-100 object-fit-cover object-position-center" />
    {{ end }}
  </div>
  <div class="px-xl-5 container pt-5">
    <div class="row px-xl-5">
      <div class="col-12 col-xl-6">
        <h1 class="fw-semibold text-xl-start text-center text-white">{{ .Title }}</h1>
      </div>
      {{ with .Params.subtitle }}
      <div class="fs-5 fw-semibold text-white">{{ . | markdownify }}</div>
      {{ end }}
    </div>
  </div>
</section>
<section id="art" class="py-5 mb-5">
  <div class="px-xl-5 container my-5">
    <div id="gallery--individual--art--list" class="row px-xl-5 pswp-gallery">
      {{ $image := resources.Get .Params.image }}
      {{ if not $image }} {{ warnf "Image not found: %s." .Params.image }} {{ end }}
      <div class="col-12 d-flex flex-column align-items-center justify-content-center text-decoration-none">
        <div class="mb-5">
          <a
          class="gallery--item"
          href="{{ $image.Permalink }}"
          data-pswp-width="{{ $image.Width }}"
          data-pswp-height="{{ $image.Height }}"
          target="_blank"
          >
          <img src="{{ $image.Permalink }}" alt="" class="mw-100 h-auto" />
        </a>
      </div>
      <div class="">
        {{ with .Title }}
        <h3 class="fs-6 mb-1 text-center">{{ . }}</h3>
        {{ end }} 
{{ with .Date.Format "2006" }} 
        <p class="mb-0 text-center">{{ . }}</p>
        {{ end }} {{ with .Params.medium }}
        <p class="mb-0 text-center">{{ . }}</p>
        {{ end }} 
   <div class="d-flex align-items-center justify-content-center small my-2">
          {{ with .GetTerms "tags" }} {{ range . }}
          <a href="{{ .Permalink }}" class="badge rounded-pill text-bg-info mx-1"> {{ .Title }} </a>
          {{ end }}
          {{ end }} 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-xl-5 container my-5">
  <div class="row justify-content-center px-xl-5">
    <div class="col-12 col-xl-6">
      {{ with .Title }}
      <div class="text-dark text-center lh-lg">{{ . }}</div>
      {{ end }}
    </div>
  </div>
{{ with .Parent }}
<div class="px-xl-5 container">
  <div class="row justify-content-center px-xl-5">
    <div class="col-12 col-xl-6">
      <div class="text-dark text-center lh-lg fw-bold"><a href="{{ .Permalink }}">« Back to {{ .Title }}</a></div>
    </div>
  </div>
</div>
{{ end }}
</section>
{{ end }}
